* {
  font-family: Tahoma, sans-serif;
  align-items: center;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

#store-container {
  display: flex;
}

header {
  font-family: 'Montserrat', sans-serif;
  color:rgb(107,83,64);
  font-size: 3.5rem;
  font-weight: bold;
  background-color: rgb(236,204,140);
  border: 3px solid rgb(51,50,42);
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  /* align-items: center; */
  position: fixed;
  width: 100%;
  top: 0;
  height: 6rem;
  /* box shadow learned on w3Schools */
  box-shadow: 0px 5px 12px #888888;
}

#salmon {
  display: flex;
  margin-top: 140px ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#boxProfiles {
  display: flex;
  align-items: flex-start;
  
}

#boxProfiles article {
  flex: 1;
  margin: 20px;
  background-color: rgb(236,204,140);
  padding: 10px;
  border: 2px solid rgb(241, 202, 154);
  border-radius: 5px;
  border: 3px solid rgb(51,50,42);
  color: rgb(196,92,68);
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(196,92,68), 0 0 5px rgb(236,204,140);
}

#boxProfiles h3 {
  margin-top: 20px;
  font-size: 1.2rem;
}

#boxProfiles p, a {
  /* color: rgb(51,50,42); */
  color: rgb(112,114,85);
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

#boxProfiles img {
  margin-top: 4rem;
  max-width: 20rem;
  /* max-height: 15rem; */
  margin-left: 2rem;
  /* margin-right: auto; */
}

main h2 {
  font-size: 2rem;
  font-family: 'Della Respira', serif;
}

#salesInfo {
  font-size: 3rem;
  font-family: 'Della Respira', serif;
}


/* table below */

#returnHome {
  font-size: 3.5rem;
  margin-top: 100px;
}

#store-container article {
  flex: 1;
  margin: 100px;
  background-color: rgb(196,92,68);
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(51,50,42);
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(196,92,68), 0 0 5px rgb(236,204,140);
  
}

table, th, td, tr {
  border: 2px solid rgb(51,50,42);
  background-color: rgb(236,204,140);
  font-family: 'Roboto Condensed', sans-serif;
  padding: 7px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: white;
}

#cookie-form {
  background-color: rgb(236,204,140);
  border: 3px solid rgb(51,50,42);
  
}
