* {
    font-family: Arial, sans-serif;
  }
  
  #store-container {
    display: flex;
  }
  
  #store-container article {
    flex: 1;
    margin: 20px;
    background-color: rgb(151, 167, 235);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(82, 80, 195);
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
  }
  
  img {
    max-width: 100%;
    min-width: 100%;
  }
  
  